<!-- Main jumbotron for a primary marketing message or call to action -->
<section class="profile-detail">
	<div class="container">
		<div class="col-md-12">
			<div class="row">
				<div class="basic-information-custom">
					<div class="col-md-36 col-sm-36">
						<h2><%= @job_detail.position_title %> </h2>
						<!-- <h4><%= @job_detail.user.name %> </h4> -->
						<div class="panel-body">
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<i class="fa fa-bars fa-fw"></i> Deskripsi Pekerjaan<br>
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<p><%= simple_format @job_detail.job_description %></p>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<i class="fa fa-user fa-fw"></i> Kualifikasi
						</div>
						<div class="panel-body">
							<ul class="information">
								<div class="row">
									<div class="col-xs-5 col-lg-3"><b>Posisi</b></div>
									<div class="col-xs-1">:</div>
									<div class="col-xs-6"><%= @job_detail.position_title %></div>
								</div>
								<div class="row">
									<div class="col-xs-5 col-lg-3"><b>Jabatan</b></div>
									<div class="col-xs-1">:</div>
									<div class="col-xs-6"><%= @job_detail.position_level %></div>
								</div>
								<div class="row">
									<div class="col-xs-5 col-lg-3"><b>Jenis Pekerjaan</b></div>
									<div class="col-xs-1">:</div>
									<div class="col-xs-6"><%= @job_detail.employment_type %></div>
								</div>
								<div class="row">
									<div class="col-xs-5 col-lg-3"><b>Spesialisasi Pekerjaan</b></div>
									<div class="col-xs-1">:</div>
									<div class="col-xs-6"><%= @job_detail.job_specialization %></div>
								</div>
								<div class="row">
									<div class="col-xs-5 col-lg-3"><b>Lokasi Kerja</b></div>
									<div class="col-xs-1">:</div>
									<div class="col-xs-6"><%= @job_detail.work_location %></div>
								</div>
								<div class="row">
									<div class="col-xs-5 col-lg-3"><b>Gaji Per Bulan</b></div>
									<div class="col-xs-1">:</div>
									<div class="col-xs-6"><%= currency(@job_detail.monthly_salary) %></div>
								</div>
								<div class="row">
									<div class="col-xs-5 col-lg-3"><b>Tingkat Pendidikan</b></div>
									<div class="col-xs-1">:</div>
									<div class="col-xs-6"><%= @job_detail.education_level %></div>
								</div>
								<div class="row">
									<div class="col-xs-5 col-lg-3"><b>Jurusan</b></div>
									<div class="col-xs-1">:</div>
									<div class="col-xs-6"><%= @job_detail.field_of_studies %></div>
								</div>
								<div class="row">
									<div class="col-xs-5 col-lg-3"><b>Pengalaman Kerja</b></div>
									<div class="col-xs-1">:</div>
									<div class="col-xs-6"><%= @job_detail.years_of_experience %></div>
								</div>
								<div class="row">
									<div class="col-xs-5 col-lg-3"><b>Keahlian</b></div>
									<div class="col-xs-1">:</div>
									<div class="col-xs-6"><%= @job_detail.skills %></div>
								</div>
								<div class="row">
									<div class="col-xs-5 col-lg-3"><b>Bahasa Yang Digunakan</b></div>
									<div class="col-xs-1">:</div>
									<div class="col-xs-6"><%= @job_detail.language %></div>
								</div>
							</ul>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<i class="fa fa-building fa-fw"></i> Perusahaan<br>
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<ul class="information">
								<div class="row">
									<div class="col-xs-5 col-lg-3"><b>Nama</b></div>
									<div class="col-xs-1">:</div>
									<div class="col-xs-6"><%= @job_detail.user.name %></div>
								</div>
								<div class="row">
									<div class="col-xs-5 col-lg-3"><b>Alamat</b></div>
									<div class="col-xs-1">:</div>
									<div class="col-xs-6"><%= @job_detail.user.address %></div>
								</div>
								<div class="row">
									<div class="col-xs-5 col-lg-3"><b>Website</b></div>
									<div class="col-xs-1">:</div>
									<div class="col-xs-6"><%= link_to @job_detail.user.website, "http://#{@job_detail.user.website}", target: "_blank" %></div>
								</div>
								<div class="row">
									<div class="col-xs-5 col-lg-3"><b>Email</b></div>
									<div class="col-xs-1">:</div>
									<div class="col-xs-6"><%= mail_to @job_detail.user.email, @job_detail.user.email %></div>
								</div>
								<div class="row">
									<div class="col-xs-5 col-lg-3"><b>Telepon</b></div>
									<div class="col-xs-1">:</div>
									<div class="col-xs-6"><%= link_to @job_detail.user.phone, "tel:#{@job_detail.user.phone}" %></div>
								</div>
							</ul>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<i class="fa fa-info fa-fw"></i> Info Singkat Perusahaan<br>
						</div>
						<!-- /.panel-heading -->
						<div class="panel-body">
							<p><%= simple_format @job_detail.user.company_info %></p>
						</div>
					</div>

					<div>
						<% if !user_signed_in? || (user_signed_in? && current_user.role != CONFIG["company"]) %>
							<%= link_to 'Kirim Lamaran Pekerjaan' , apply_page_path(id: @job_detail.id), {class: 'btn btn-primary btn-apply', style: "margin-left: 10px;"} %>
							<%= link_to 'Kembali' , browse_jobs_path, {class: 'btn btn-default btn-apply'} %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
